<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjzhou.dingtalkrobot.dao.ArticleMapper">
    <resultMap id="articleResMap" type="com.jjzhou.dingtalkrobot.model.entity.ArticleDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="link" property="link"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="baseColumns">
        `id`, `user_id`, `link`, `title`, `create_time`, `update_time`
    </sql>

    <select id="listTodayBlog" resultMap="articleResMap">
        select
        <include refid="baseColumns" />
        from article
        where to_days(now()) - to_days(create_time) = 0
    </select>

    <insert id="insertOrUpdateBlog">
        insert into article(user_id, link, title, create_time, update_time)
        value (#{userId}, #{link}, #{title}, now(), now())
        on duplicate key update
        user_id = values(user_id),
        link = values(link),
        title = values(title)
    </insert>

</mapper>
